/* *{

} */
body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.5s;
    cursor: pointer;

    /* background: rgb(46, 46, 56); */
    background-image: url("./img/background.svg");
}

/*---------- BARRA DE MENU ----------*/

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
    padding: 16px;

}

nav a {
    font-size: 20px;
}

nav a:hover {
    color: #580757;
    background: rgba(207, 121, 177, 0.405);

}

a {
    color: white;
    text-decoration: none;
}


/* ----- Minha imagem -----*/
header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgb(226, 218, 208);

}

header img{
    transition: all 0.5s;
    cursor: pointer;
}

header img:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.center {
    text-align: center;
}

/*---------- SOBRE MIM ----------*/
/*----- Maria Leão -----*/
h1 {
    color:#580757;
    text-shadow: 3px 3px #9f9cb4;
}
/*----- Fim Maria Leão -----*/

/*----- Os 3 cards sobre mim -----*/
.cards {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.cards-item {
    background-color: rgba(69, 13, 95, 0.518) ;
    list-style-type: none;
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
    width: 310px;
}

.cards-item h3, li{
    text-align: center;
} 

.cards-item p{
    text-align: justify;
} 

.habilidades li{ 
    text-align: left;
}


.container {
    padding: 0px 50px;
}


/*----- Fim dos 3 cards sobre mim -----*/


/*---------- PROJETOS ----------*/

.frase_proj p{
    background-color: rgba(69, 13, 95, 0.518) ;
    border-radius: 5px;
}

/*Imagens dos projetos em andamento */

.img-em-andamento{
    width: 100px;
    height: 100px;
    
}

/*Imagens dos projetos feitos */
.projetos_feito{
    width: 150px;
    height: 100px;
}
.projetos_feito{
    transition: all 0.5s;
    cursor: pointer;
}

.projetos_feito:hover{
    -webkit-transform: scale(2);
    transform: scale(3);
}


/* ----- Imagens para Contatos -----*/
#img_contato{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}


#img_contato img {
    width:50px;
    height:50px;
}

#img_contato a {
    
    margin: 20px;
    color: #b7412f;
    text-align: center;
    border: 15px solid rgb(226, 218, 208);
    border-radius:  20px 20px 20px 20px ;
    background-color: rgb(226, 218, 208);
    transition: all 0.5s;
    cursor: pointer;

}

#img_contato a:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);  
}




/* CSS do Contato */
.contact-form input{
    width: 100%;
    padding: 8px 0;
    margin: 8px 0;

}

.contact-form input[type=text] {
    height: 100px;
    background-color: rgb(196, 196, 184);
}

button {
    color: black;
    background-color: rgb(196, 196, 184);
    border: 15px solid rgb(226, 218, 208);
    border-radius:  20px 20px 20px 20px ;
    border: none;
    width: 100px;
    height: 30px;
}

